body{
  background: linear-gradient(0deg,#01BBBD,#02AFFF);
  
}
#facebook{
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  padding: 10px 10px 10px 10px ;
}
#facebook:hover{
   color: #3b5998;
}
#github{
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  padding: 10px 10px 10px 10px ;
}
#github:hover{
  color: #000000;
}
#mail{
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  padding: 10px 10px 10px 10px ;
}
#mail:hover{
  color: #850000;
}
