body{
  background: linear-gradient(0deg,#01BBBD,#02AFFF);
  
}
.container-color{

  background:linear-gradient(0deg,#01BBBD,#02AFFF);
}
#My-pic-header{
  margin: 10px 10px 5px 10px;
}
#navbar-logo{
  height: 50px;
  width: 120px;
}
.circle{
  background-color: #A63067;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.circle:hover{
  background-color: #c7005d;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#icon{
  color: white;
  font-size: 50px;
}
.container-end{
  border-spacing: 10px;
}
.shadow-lg{
  box-shadow: 10px 10px 20px black !important;
}
.form-space{
  margin: 20px 10px 20px 10px;
}
.form-color{
  background-color: cadetblue;
}
.shadow-lg-footer{
  box-shadow: 10px -6px 40px black !important;
}
.button-color{
  background-color: #845EC2;
  box-shadow: 10px 10px 20px black;
}
.button-color:hover{
  background-color: #a974ff;
  box-shadow: 10px 10px 30px black;
}
.hov-shed:hover{
  box-shadow: 10px 10px 20px black !important;
}

.port-hov{
  box-shadow: 10px 10px 20px rgb(0, 0, 0) !important;
}
.port-hov:hover{
  box-shadow: 10px 10px 30px rgb(0, 0, 0) !important;
}
.inner-form{
  background-color: #424242;
}
#facebook{
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  padding: 10px 10px 10px 10px ;
}
#facebook:hover{
  font-size: 50px;
  color: #3b5998;
  text-align: center;
  padding: 10px 10px 10px 10px 

  width:150px;height:150px;
  
  background-color: #eed;
  box-shadow: 10px -10px  rgba(0,0,0,0.6);
  -moz-box-shadow: 10px -10px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px -10px  rgba(0,0,0,0.6);
  -o-box-shadow: 10px -10px  rgba(0,0,0,0.6);
  border-radius:100px;
}
#github{
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  padding: 10px 10px 10px 10px ;
}
#github:hover{
  font-size: 50px;
  color: #000000;
  text-align: center;
  padding: 10px 10px 10px 10px

  width:150px;height:150px;
  
  background-color: #eed;
  box-shadow: 10px -10px  rgba(0,0,0,0.6);
  -moz-box-shadow: 10px -10px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px -10px  rgba(0,0,0,0.6);
  -o-box-shadow: 10px -10px  rgba(0,0,0,0.6);
  border-radius:100px;
}
#mail{
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  padding: 10px 10px 10px 10px ;
}
#mail:hover{
  font-size: 50px;
  color: #850000;
  text-align: center;
  padding: 10px 10px 10px 10px 

  width:150px;height:150px;
  
  background-color: #eed;
  box-shadow: 10px -10px  rgba(0,0,0,0.6);
  -moz-box-shadow: 10px -10px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px -10px  rgba(0,0,0,0.6);
  -o-box-shadow: 10px -10px  rgba(0,0,0,0.6);
  border-radius:100px;
