@media only screen and (max-width: 600px) {
  body > section.home {

    background: none;
    background-color: #fff;
  }
  body > section.home > div.home-texts {
    padding: 25vh;
    padding-left: 10vw;
    padding-right: 0;
  }

  body > section.home > div.home-texts > h1 {
    font-size: 55px;
    background: linear-gradient(125deg, #00d8ff 45%, #1064b7 10%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  body > section.home > div.home-texts > h3#i-am {
    font-size: 20px;
  }

  /* about me section ===============================================*/

  body > section.about-me {
    padding: 5vh 10vw;
  }

  body > section.about-me > hr {
    margin: 0 25vw;
    color: var(--light-blue);
  }

  /* technologies section =========================================== */

  body > section.i-can-use {
    background-color: #ffffff;
    color: #000000;
  }
  body > section.i-can-use > hr {
    margin: 0 2vw;
    color: white;
  }
  body > section.i-can-use > div.icons > div.icon {
    color: #000000;
  }

  /* projects Section =====================================*/

  body > section.projects {
    padding: 10vh 10vw;
    background: none;
    background-color: #eeeeee;
  }

  body > section.projects > div {
    grid-template-rows: 1fr 1fr 1.3fr 1fr 1fr;
  }

  body > section.projects > div > div {
    grid-template-rows: 1fr 1fr;
    width: 80vw;
    text-align: right;
  }
  body > section.projects:hover > div > div {
    box-shadow: none;
  }
  body > section.projects > div > div:hover {
    box-shadow: none;
    transform: none;
  }

  body > section.projects > div > div:nth-child(1) > div:nth-child(1) {
    background-position: left;
  }
  body > section.projects > div > div:nth-child(2) > div:nth-child(1) {
    border: none;
  }

  body > section.projects > div > div:nth-child(5) > div:nth-child(1) {
    background-position: left;
    background-blend-mode: lighten;
  }
  body > section.projects > div > div > div:nth-child(2) > div > a {
    font-size: 13px;
    padding: 2vh 6vw;
  }

  body > section.projects > div > div > div:nth-child(2) > h1 {
    font-size: 18px;
  }

    /* previously worked with section ==========================================*/

    body > section.worked{
      background-color: #fff;
    }
    body > section.worked > hr{
      margin: 0 5vw;
    }
    body > section.worked > div > div > img{
      width: 20vw;
    }
    body > section.worked > div > div:nth-child(2)::after{
      content:"Sulphuric Bench"
    }
 /* next role section ==========================================*/

 body > section.next-role{
   background: none;
   background-color: #eeeeee;
   color: #111111;
 }
 body > section.next-role > h2{
   font-size: 25px;
 }
 body > section.next-role > hr{
   margin: 0 5vw;
 }
 body > section.next-role > div {
  display: grid;
  place-content: center;
  text-align: center;
  width:fit-content;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap:10px;
}
 body > section.next-role > div > span {
   font-size: 15px;
   margin: auto auto;
   text-align: center;
 }

  /* social icons section ==========================================*/

  body > section.social {
    background:none;
    background-color: #fff;
    background-position: center;
    background-size: cover;
  }

  body > section.social > h2 {
    font-size: 20px;
    font-weight: 1000;
  }
  body > section.social > hr {
    margin: 0 5vw;
    color: #ffffff;
  }
  body > section.social > div.icons > a > div.icon {
    padding: 0 2vw;
    font-size: 28px;
  }
  body > section.social > div.mail {
    padding-bottom: 10vh;
  }
  body > section.social > div.mail > fieldset > a > div.mail-text:hover {
    font-size: 20px;
    color: var(--dark-blue);
  }
  body > section.social > div.mail > a > button {
    padding: 2.5vh 15vw;
    border-radius: 5px;
  }

  /* ===================== built by section =================== */

  body > section.built-by {
    font-size: 14px;
    padding: 5vh 0;
  }
  body > section.built-by > div:nth-child(1){
    width: 80%;
    margin: auto auto;
    padding: 0 0 3vh 0;
  }
  body > section.built-by > div:nth-child(1) > a {
    font-size: 13px;
    color: #111111;
  }
  body > section.built-by > div:nth-child(1) > p > a:nth-child(3){
  color: #111111;
  }
}
