





@media only screen and (max-width: 600px) {

  body > section.home{
    background-image: url(/assets/media/liquid-portrait.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
background-color:#222;
   color:#fff;
    }
  
  body > section.home:hover{
    background-image: url(/assets/media/liquid-portrait.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
    }
  body > section.home{
    background-color: #ffffff;
  }
  body > section.home > div.home-texts{
    padding: 25vh;
    padding-left: 10vw;
    padding-right: 0;
  }
  body > section.home > div.home-texts > h1{
    font-size: 55px;
  }
  body > section.home > div.home-texts > h3#i-am{
    font-size: 20px;
  }

  /* about me section ===============================================*/
 body > section.about-me{
   background-color:#333;
   color: #eeeeee;
 }
   body > section.about-me:hover{
   color: #eeeeee;
     background-color:#333;
 }
  body > section.about-me {
    padding: 5vh 10vw;
  }

  body > section.about-me > hr {
    margin: 0 25vw;
    color: var(--light-blue);
  }

  /* technologies section =========================================== */

body > section.i-can-use {
  background-color: #eeeeee;
  color: #000000;
}
  body > section.i-can-use > hr {
    margin: 0 2vw;
    color: white;
  }

  /* projects Section =====================================*/

  body > section.projects {
    padding: 10vh 10vw;
    background-color: #ddd;
  }

  body > section.projects > div{
    grid-template-rows: 1fr 1fr 1.3fr 1fr 1fr;
  }

  body > section.projects > div > div{
    grid-template-rows:1fr 1fr;
    width: 80vw;
    text-align: right;
  }


body > section.projects > div > div:nth-child(1) > div:nth-child(1){
background-position: left;
  }
  body > section.projects > div > div:nth-child(2) > div:nth-child(1){

    border: none;

  }

  body > section.projects > div > div:nth-child(5) > div:nth-child(1){
background-position: left;
background-blend-mode:lighten;
    
  }
  body > section.projects > div > div > div:nth-child(2) > div > a{
    font-size: 13px;
    padding: 2vh 6vw;
  
  }

  body > section.projects > div > div > div:nth-child(2) > h1{
    font-size: 18px;
  }

  



  /* social icons section ==========================================*/

  body > section.social {
    background-image: url(/assets/media/liquid-portrait.jpg);
    background-position: center;
    background-size: cover;
  }

  body > section.social > h2{
   font-size: 20px;
   font-weight: 1000;
  }
  body > section.social > hr {
    margin: 0 5vw;
    color: #ffffff;
  }
  body > section.social > div.icons > a > div.icon{
    padding: 0 2vw;
    font-size: 28px;
  }
  body > section.social > div.mail{
    padding-bottom:10vh;
  }
  body > section.social > div.mail > fieldset > a > div.mail-text:hover{
    font-size: 20px;
    color: var(--dark-blue);
  
  }
  body > section.social > div.mail > a > button{
    padding: 2.5vh 15vw;
    border-radius: 5px;
  }


  /* ===================== built by section =================== */

body > section.built-by {
font-size:13px ;
}
body >section.built-by > div:nth-child(1) > a{
  font-size:15px;
}






  


}
