@media only screen and (max-width: 600px) {
  section {
    max-width: 100vw;
  }

  /* Home section ===============================================*/

  body > section.home {
    height: 100vh;
    max-height: max-content;
    display: grid;
    place-content: center;
    padding-bottom: 10vh;
  }
  body > section.home > div {
    margin: auto auto;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
  body > section.home > div > div {
    display: none;
    display: inline !important;
    text-align: center;
  }

  body > section.home > div > div:nth-child(1) {
    margin: auto auto;
    width: 80vw;
    height: max-content;
  }
  body > section.home > div > div:nth-child(1) > img {
    width: 45vw;
    border: 10px solid var(--cb4);
    margin-right: 5vw;
  }

  body > section.home > div > div:nth-child(2) {
    width: 80vw;
    margin-top: 2.5vh;
  }
  body > section.home > div > div:nth-child(2) > h1 {
    font-size: 20px;
    text-align: center;
  }
  body > section.home > div > div:nth-child(2) > p {
    text-align: justify;
  }
  body > section.home > div > div:nth-child(2) > span {
    display: none;
  }

  body > section.home > div > div:nth-child(2) > div:nth-child(4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  body
    > section.home
    > div
    > div:nth-child(2)
    > div:nth-child(4)
    > a:nth-child(1)
    > button {
    width: 90%;
    border: 2.5px solid var(--c10);
  }
  body
    > section.home
    > div
    > div:nth-child(2)
    > div:nth-child(4)
    > a:nth-child(2)
    > button {
    width: 90%;
  }

  /* =========================what I do section ==========================================-*/

  body > section.i-do {
    display: grid;
    place-content: center;
  }
  body > section.i-do > h1 {
    font-size: 20px;
  }
  body > section.i-do > hr {
    width: 40vw;
  }
  body > section.i-do > div {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  body > section.i-do > div > article > h2 {
    font-size: 18px;
  }
  body > section.i-do > div > article > p {
    text-align: justify;
    width: 90%;
    margin: auto auto;
  }
  body > section.i-do > div > article > div > a > button {
    padding: 1.5vh 5vw;
  }
  /* about me section ===============================================*/

  body > section.about-me {
    height: max-content;
    padding: 5vh 0;
  }
  body > section.about-me > h2 {
    font-size: 23px;
  }
  body > section.about-me > hr {
    width: 40vw;
  }
  body > section.about-me > div.colored-back {
    width: 70vw;
    padding: 05vh;
    display: grid;
    place-content: center;
  }
  body > section.about-me > div.colored-back > div > p {
    font-size: 18px;
    text-align: justify;
  }

  /* technologies section =========================================== */
  body > section.i-can-use > div > p:nth-child(1) {
    font-size: 13px;
  }
  body > section.i-can-use > div > h2 {
    font-size: 23px;
  }
  body > section.i-can-use > div > hr {
    width: 40vw;
  }
  body > section.i-can-use > div > div.icons {
    width: 60vw;
    padding: 5vh 9vw;
  }

  /* projects Section =====================================*/

  body > section.projects > div {
    width: 90vw;
  }

  body > section.projects > div > hr {
    width: 40vw;
  }
  body > section.projects > div > div {
    grid-template-columns: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  body > section.projects > div > div > div {
    padding: 10vh 5vw;
    width: 80vw;
  }
  body > section.projects > div > div > div > div > a {
    font-size: 13px;
  }

  body > section.projects > div > div > div > div > a:nth-child(1) {
    padding: 1.5vh 4vw;
  }

  /* previously worked with section ==========================================*/

  body > section.worked > div > hr {
    width: 40vw;
  }
  body > section.worked > div > div {
    height: 200px;
    width: 200px;
  }
  body > section.worked > div > div > div > img {
    width: 25vw;
  }

  /* what happend section ==========================================*/
  body > section.what-happend > hr {
    width: 45vw;
  }
  body > section.what-happend > div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2.5vw;
    width: 90vw;
    column-gap: 10px;
    row-gap: 10px;
  }
  body > section.what-happend > div > div {
    height: 25vh;
  }
  body > section.what-happend > div > div > p {
    font-size: 12px;
  }
  body > section.what-happend > div > div > h1 {
    font-size: 20px;
  }
  body > section.what-happend > div > div > i {
    font-size: 33px;
  }

  /* social icons section ==========================================*/
  body > section.social {
    height: 90vh;
  }
  body > section.social > h2 {
    padding-bottom: 3vh;
    text-align: center;
    font-weight: 300;
  }
  body > section.social > hr {
    width: 40vw;
  }
  body > section.social > div.icons {
    display: flex;
    padding: 5vh 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  body > section.social > div.icons > a > div.icon {
    padding: 0 2vw;
    font-size: 25px;
    color: var(--c10lv);
  }
  body > section.social > div.mail {
    padding-bottom: 10vh;
    text-align: center;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
  body > section.social > div.mail > a > button {
    background-color: var(--cb4);
    color: var(--cw2);
    padding: 2vh 8vw;
    border-radius: 50px;
    font-weight: 300;
    font-size: 12px;
    border: none;
    z-index: 2;
  }
  body > section.social > div.mail > a:nth-child(2) {
    background-color: var(--cb3);
    border: 2.5px solid var(--c10);
    color: var(--cw);
    padding: 2vh 5vw;
    border-radius: 50px;
    font-weight: bolder;
    font-size: 12px;
  }
  body > section.social > div.mail > a:nth-child(2):hover {
    background-color: var(--c10);
  }

  body > section.social > div.mail > a:nth-child(2) > i {
    transform: rotate(-90deg);
  }

  /* ===================== built by section =================== */
  body > section.built-by {
    font-size: 10px;
  }
  body > section.built-by > div:nth-child(1) {
    width: 90vw;
  }
  body > section.built-by > div:nth-child(1) > p:nth-child(3) > :nth-child(3) {
    color: var(--cr);
    font-family: monospace;
  }

  /* ===================== navbar section =================== */

  .mobile-nav-toggle {
    background-position: center;
    display: block;
    z-index: 9999;
    position: absolute;
    background: url("/assets/media/hambuger.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-color:#eeeeee50;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("/assets/media/close.svg");
    background-color: transparent;
  }
}
@media (max-width: 35em) {
  .primary-navigation {
    display: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    z-index: 1000;
    position: fixed;
    inset: 0 0 0 30%;
    padding: min(30vh, 10rem) 2rem;
    transform: translateX(100%);
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }
}

@media (min-width: 35em) and (max-width: 55em) {
  .primary-navigation a > span[aria-hidden] {
    display: none;
  }
}
@media (min-width: 35em) {
  .primary-navigation {
    padding-block: 2rem;
    padding-inline: clamp(3rem, 9vw, 10rem);
  }
}
