@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Poppins:wght@200;300;400&display=swap");
:root {
  --cb:#000000;
  --cb1:#111111;
  --cb2:#222222;
  --cb3:#333333;
  --cb4:#444444;
  --cb5:#555555;
  --cb6:#666666;

  --cw:#ffffff;
  --cw1:#eeeeee;
  --cw2:#dddddd;
  --cw3:#cccccc;
  --cw4:#bbbbbb;

  --c10:#007bff;
  --c10dv:#002853;
  --c10lv:#3d9bff;
  
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  transition: 0.5s ease-out;
  font-family: "Poppins", "Segoe UI", sans-serif;
  scroll-behavior: smooth;
}

body{
  font-weight: 200;
}

a {
  text-decoration: none;
  cursor: pointer;
}
::selection {
  border: .5px solid yellow;
  background-color: var(--c10);
  color: var(--cw2);
}
section{
  min-height: 100vh;
  background-color: var(--cb2);
  color: var(--cw2);
  border-bottom: .5px dashed var(--cb3);
}
@keyframes loaded {
  from{
    transform: translateY(100px);
    opacity: .1;
  }
  to{
    transform: translateY(-0px);
  opacity: 1;
  }
}
/* ===========================home section ==========================================-*/

body > section.home {
  display: grid;
  place-content: center;
}

body > section.home > div {
  margin: auto auto;
  display: grid;
  place-content: center;
  grid-template-columns:.8fr 1fr;
}
body > section.home > div > div:nth-child(1){
  display: grid;
  place-content:end;

}
body > section.home > div > div:nth-child(1) > img{
border-radius: 50%;
width: 20vw;
border: 20px solid var(--cb4);
filter: drop-shadow(0px 10px 1em var(--cb));
margin-right: 5vw;
animation: loaded .5s ease-out 1;
}


body > section.home > div > div:nth-child(2){
  display: grid;
  place-content: center;
  align-items: left;
  grid-gap:0px;
  width:40vw;
  animation: loaded .5s ease-out 1;
}
body > section.home > div > div:nth-child(2) > h1{
font-size: 40px;
text-align: left;
}
body > section.home > div > div:nth-child(2) > p{
text-align: justify;
width: 95%;
  }
body > section.home > div > div:nth-child(2) >span {
  color:var(--c10lv);
  animation: clippy 2s infinite 3s;
  width: 50%;
}
body > section.home > div > div:nth-child(2) >span::before {
  content: "";
  animation: name 20s infinite 3s;
  transition: 0.6s ease-in;
}
@keyframes clippy {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes name {
  0%{
    content: "";
  }
  10% {
    content: "Frontend developer";
  }
  20% {
    content: "Graphic designer";
  }
  30% {
    content: "UI/UX designer";
  }
  40% {
    content: "Wing Chun Enthusiast";
  }
  50% {
    content: "Left winger";
  }
  60% {
    content: "Artist";
  }
  70% {
    content: "Linux Maniac";
  }
  80% {
    content: "Wicket Keeper";
  }
  90% {
    content: "Web Developer";
  }
  100% {
    content: "Goal Keeper;
  }
}

/* =========================what I do section ==========================================-*/

body > section.i-do{
  display: grid;
  place-content: center;
  text-align: center;
  padding: 10vh 0;
}
body > section.i-do > h1{
  font-weight: 300;
  padding-bottom: 2.5vh;
}
body > section.i-do > hr{
  margin: auto auto;
  width: 20vw;
}
body > section.i-do > div{
  width: 80vw;
  margin: auto auto;
  margin-top: 7vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 2vw;
  row-gap: 5vh;
}
body > section.i-do > div > article{
  background-color: var(--cb3);
  border: 2px solid var(--cb4);
  border-radius: 10px;
  padding: 2.8vh;
  display: grid;
  place-content: center;
}
body > section.i-do > div > article:hover{
  transform: translateY(-10px);
  filter: drop-shadow(0px 10px 20px #191919);
}
body > section.i-do > div > article > h2{
  color: var(--cw3);
  padding: 2.5vh;
}
body > section.i-do > div > article > h2 > i{
  color: var(--cw1);
}
body > section.i-do > div > article > div{
  padding: 2.5vh;
}
body > section.i-do > div > article > div > a > button {
  background-color: var(--cb4);
  color: var(--cw2);
  filter: drop-shadow(0px 30px 2rem var(--cb1));
  padding: 1.5vh 2.5vw;
  font-weight: 400;
  border: 2.5px solid var(--c10);
  border-radius: 50px;
  cursor: pointer;
}
body > section.i-do > div > article > div > a > button:hover{
  background-color:var(--c10);
}

/* =========================about me section ==========================================-*/

body > section.about-me {
  text-align: center;
  display: grid;
  place-content: center;
  height: 100vh;
  padding-bottom: 10vh;
}
body > section.about-me > p:nth-child(1) {
  font-size: 15px;
}
body > section.about-me > h2 {
  padding-bottom: 3vh;
  font-weight: 300;
}
body > section.about-me > hr {
margin: auto auto;
width: 20vw;
}
 div.empty {
  height: 5vh;
}

body > section.about-me > div.colored-back{
  background-color:var(--cb3);
  color: var(--cw2);
  width: 50vw;
  margin: auto auto;
  margin-top: 7vh;
  padding: 10vh;
  border: 1px solid var(--cb4);
  border-radius: 10px;
}
body > section.about-me > div.colored-back > div > p {
  font-size: 18px;
  text-align: justify;
}
body > section.about-me > div.colored-back > div > p > b {
color: var(--cw1);
}

/* -============================= technologies section ==========================================*/

body > section.i-can-use {
  text-align: center;
  padding: 5vh 0;
  display: grid;
  place-content: center;
}
body > section.i-can-use > div > h2 {
  padding-bottom: 3vh;
  font-weight: 300;
}
body > section.i-can-use > div > hr {
  margin: auto auto;
  width: 20vw;
}

body > section.i-can-use > div > div.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr 1fr;
  width: 25vw;
  background-color:var(--cb3);
  border: 1px solid var(--cb4);
  color: var(--cw2);
  border-radius: 10px;
  padding: 5vh 5vw;
  margin: auto auto;
  margin-top: 7vh;

}
body > section.i-can-use > div > div.icons > div.icon {
  padding: 2vh;
  font-size: 30px;
  padding: 4vh 0;
  border-radius: 10px;
}

/* ===================    Projects section    ====================== */

body > section.projects {
  text-align: center;
  padding: 10vh 0;
  color: var(--cw2);
  display: grid;
  place-content: center;
}
body > section.projects > div{
  margin: auto auto;

}
body > section.projects > div > p:nth-child(1) {
  font-size: 15px;
}
body > section.projects > div > h2 {
  padding-bottom: 3vh;
  font-weight: 300;
}
body > section.projects > div > hr {
margin: auto auto;
width: 20vw;
}
body > section.projects > div > div{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  place-content: center;  
  margin: auto auto;
  margin-top: 7vh;
}
body > section.projects > div > div > div{
  background-color:var(--cb3);
  border: 1px solid var(--cb4);
  color:var(--cw3);
  border-radius: 10px;
  padding: 10vh;
  width: 30vw;
  margin: auto auto;

}

body > section.projects > div > div > div > h1::before {
  content: "▹ Featured Project : ";
  font-family: Lobster Two;
  color: var(--cw1);
}
body > section.projects > div > div > div > div {
  padding: 5vh 0 0 0;
}
body > section.projects > div > div > div > div > a {
  background-color: var(--cb5);
  color: var(--cw1);
  padding: 2vh 3vw;
  border-radius: 30px;
}
body > section.projects > div > div > div > div > a:hover{
  filter: drop-shadow(0px 30px 2rem #0000007a);
  transform: translateY(5deg);
}
body > section.projects > div > div > div > div > a:nth-child(1){
background-color: var(--cb4);
color: var(--cw2);
filter: drop-shadow(0px 30px 2rem #0000007a);
padding: 1.5vh 2.5vw;
font-weight: 400;
border: 2.5px solid var(--c10);
}

body > section.projects > div > div > div > div > a:nth-child(1):hover{
background-color:var(--c10);
}

/* ===================== worked with section =================== */

body > section.worked {
  text-align: center;
  display: grid;
  place-content: center;
  height: 100vh;
}
body > section.worked > div{
  display: grid;
  place-content: center;
  height:fit-content;
}
body > section.worked > div > h2 {
  padding-bottom: 3vh;
  font-weight: 300;
}
body > section.worked > div > hr {
  margin: auto auto;
  width: 15vw;
}
body > section.worked > div > div {
  background-color: var(--cb4);
  border-radius: 10px;
  width:fit-content;
  height: 250px;
  width: 250px;
  display: grid;
  place-content: center;
  margin: auto auto;
  margin-top:7vh;
border: 1px solid var(--cb6);
}
body > section.worked > div > div > div > img {
  width: 10vw;
}
/* =====================what happend section =================== */


body > section.what-happend {
  display: grid;
  place-content: center;
  text-align: center;
}
body > section.what-happend > h1{
  padding-bottom:2vh;
  font-weight: 300;
}
body > section.what-happend > hr{
  margin: auto auto;
  width: 20vw;
}
body > section.what-happend > div{
  margin: auto auto;
  margin-top: 7vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 2.5vw;
  width: 80vw;
}
body > section.what-happend > div > div{
  background-color: var(--cb3);
  border: 2px solid var(--cb4);
  border-radius: 10px;
  display: grid;
  place-content: center;
  height: 40vh;
}
body > section.what-happend > div > div:hover{
  filter: drop-shadow(0px 10px 1em #191919);
  transform: translateY(-15px);
}
body > section.what-happend > div > div > i {
  color: var(--c10);
  font-size: 3vw;
  padding-bottom: 2.5vh;
}

/* =====================social icons section =================== */

body > section.social {
  padding: 10vh;
  display: grid;
  place-content: center;
  height: 90vh;
  border: none;
}
body > section.social > p {
  text-align: center;
}
body > section.social > h2 {
  padding-bottom: 3vh;
  text-align: center;
  font-weight: 300;
}
body > section.social > hr {
  margin: auto auto;
  width: 20vw;
}
body > section.social > div.icons {
  display: flex;
  padding: 5vh 0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body > section.social > div.icons > a > div.icon {
  padding: 0 2vw;
  font-size: 30px;
  color: var(--c10lv);
}
body > section.social > div.mail {
  padding-bottom: 10vh;
  text-align: center;
}
body > section.social > div.mail > a > button {
  background-color:var(--cb4);
  color: var(--cw2);
  padding: 3vh 7vw;
  border-radius: 50px;
font-weight: 300;
font-size: 15px;
border: none;
z-index:2;
}
body > section.social > div.mail > a:nth-child(2) {
  background-color: var(--cb3);
  border:2.5px solid var(--c10lv);
  color: var(--cw);
  padding: 2.5vh 6.5vw;
  border-radius: 50px;
  font-weight: bolder;
 font-size: 15px;
}
body > section.social > div.mail > a:nth-child(2):hover{
  background-color: var(--c10lv);
}

body > section.social > div.mail > a:nth-child(2) > i{
  transform: rotate(-90deg);
}





/* ===================== built by section =================== */

body > section.built-by {
  background-color:#1b1b1b;
  background-attachment: fixed;
  min-height: 20vh;
  color: var(--cw1);
  font-weight: 300;
  text-align: center;
  display: grid;
  place-content: center;
  border: none;
}
body > section.built-by > div:nth-child(1) {
  padding: 2.5vh;
}
body > section.built-by > div:nth-child(1) > p > a:nth-child(1) {
  color: var(--c10lv);
  font-weight: 400;
}
body > section.built-by > div:nth-child(1) > p > a:nth-child(4) {
  font-family: Lobster Two;
  font-size: 20px;
  color: var(--c10);
  font-weight: bolder;
  font-weight: 400;
}